global
        log 127.0.0.1   local0 notice
        log 127.0.0.1   local1 notice
        stats socket /var/run/haproxy.sock mode 0600 level admin
        #log loghost    local0 info
        maxconn 8192
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
#        daemon
        #debug
        #quiet

defaults
        log global
        mode tcp
        retries 3
        option redispatch
        maxconn 2400
        timeout connect 5000
        timeout client  50000
        timeout server  50000

listen  ft_443
        bind *:443
        balance source
        maxconn 2400
        server  stecmanager stecmanager:443 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:443 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_22
        bind *:22
        balance source
        maxconn 2400
        server  stecmanager stecmanager:22 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:22 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_80
        bind *:80
        balance source
        maxconn 2400
        server  stecmanager stecmanager:80 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:80 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_444
        bind *:444
        balance source
        maxconn 2400
        server  stecmanager stecmanager:444 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:444 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_8006
        bind *:8006
        balance source
        maxconn 2400
        server  stecmanager stecmanager:8006 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:8006 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_10080
        bind *:10080
        balance source
        maxconn 2400
        server  stecmanager stecmanager:10080 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:10080 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_10443
        bind *:10443
        balance source
        maxconn 2400
        server  stecmanager stecmanager:10443 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:10443 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_17617
        bind *:17617
        balance source
        maxconn 2400
        server  stecmanager stecmanager:17617 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:17617 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_17627
        bind *:17627
        balance source
        maxconn 2400
        server  stecmanager stecmanager:17627 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:17627 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_19617
        bind *:19617
        balance source
        maxconn 2400
        server  stecmanager stecmanager:19617 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:19617 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_19627
        bind *:19627
        balance source
        maxconn 2400
        server  stecmanager stecmanager:19627 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:19627 check inter 2000 rise 2 fall 5 maxconn 200

listen ft_4022
       bind *:4022
       balance roundrobin
       maxconn 2400
       server  stecmanager stecmanager:4022 check inter 2000 rise 2 fall 5 maxconn 200
       server  stecworker stecworker:4022 check inter 2000 rise 2 fall 5 maxconn 200

listen  ft_4021
        bind *:4021
        balance roundrobin
        maxconn 2400
        server  stecmanager stecmanager:4021 check inter 2000 rise 2 fall 5 maxconn 200
        server  stecworker stecworker:4021 check inter 2000 rise 2 fall 5 maxconn 200

listen stats :8080
  stats enable
  stats uri /stats
